# Node artifacts
node_modules/

# User-specific files
.angular/
.idea/
.vscode/

# Build artifacts
/dist/
/dist-server/
*.zip
*.tar.gz
*.tgz
*.rar
*.tar
*.tar.bz2
*.tar.xz

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
*.log*
