<div>
    <h2 class="section-title">About Us</h2>
    <p class="section-description">Welcome to E-Commerce Platform! We strive to provide the best shopping experience for our customers. Our mission is to offer high-quality products, excellent customer service, and secure online transactions. Feel free to explore our website and discover a world of amazing products at your fingertips.</p>
    <p class="section-description">For more queries contact :</p>
    <p class="section-description">-> Anvitha, E-mail: <a href="mailto:anvitha8181@gmail.com">anvitha8181@gmail.com</a></p>
    <p class="section-description">-> Reethu, E-mail: <a href="mailto:reethuk@gmail.com">reethuk@gmail.com</a></p>
    <p class="section-description">-> Hemanth, E-mail: <a href="mailto:hementh@gmail.com">hementh@gmail.com</a></p>
    <p class="section-description">-> Adithi, E-mail: <a href="mailto:djadithi@gmail.com">djadithi@gmail.com</a></p>
</div>