.section-title {
    color: rgb(2, 2, 2); 
    font-size: 1.6rem; 
    margin-bottom: 10px; 
}

.section-description {
    color: rgb(12, 12, 12);
    font-size: 1.2rem; 
    line-height: 1.5; 
}
.section-description a {
    color: blue; 
}