div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px; /* Fix the typo here */
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}